<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='/all_imgs/icon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <title>INVRT - Contact</title>
</head>
<body>
    <!-- Nav Bar -->
    <div class="header flex justify-between align-center text-white">
        <a class="vertical-bottom" href="/"><img src="{{ url_for('static', filename='/all_imgs/Invrt_Logo.jpg') }}" alt="INVRT Logo"></a>
        <div class="right-header flex justify-between align-center">
            <a href="/">Home</a>
            <a href="/drops/2">Current Drop</a>
            <a href="/drops/1">Previous Drops</a>
            <a href="/upcoming-drops">Upcoming Drops</a>
            <div class="smaller flex align-center">
                <a class="flex align-center" href="/cart"><img src="{{ url_for('static', filename='/all_imgs/cart2.png') }}" alt="Cart"></a>
            </div>
        </div>
        <div class="menu smaller flex align-center">
            <img onclick="openmenu()" src="{{ url_for('static', filename='/all_imgs/menu_icon.png') }}" alt="Menu">
        </div>
    </div>

    <!-- Side Menu -->
    <div id="side-menu">
        <div class="top-menu-option flex align-center">
            <img onclick="closemenu()" src="{{ url_for('static', filename='/all_imgs/x_button.png') }}" alt="Close">
        </div>
        <a href="/">
            <div class="menu-option flex align-center">
                Home
            </div>
        </a>
        <a href="/drops/2">
            <div class="menu-option flex align-center">
                Current Drop
            </div>
        </a>
        <a href="/drops/1">
            <div class="menu-option flex align-center">
                Previous Drops
            </div>
        </a>
        <a href="/upcoming-drops">
            <div class="menu-option flex align-center">
                Upcoming Drops
            </div>
        </a>
        <a class="flex align-center" href="/cart">
            <div class="menu-option flex align-center smaller">
                    <img src="{{ url_for('static', filename='/all_imgs/cart2.png') }}" alt="Cart">
            </div>
        </a>
    </div>

    <!-- Clothing Display -->
    <div class="container justify-around flex text-center help">
        <div style="width: 100%;">
            <h1 class="help-title">Contact Us</h1>
            <div style="width: 100%;" class="flex help-div">
                <ul>
                    <a href="/help/about"><li><p>About Us</p></li></a>
                    <a href="/help/faq"><li><p>FAQ</p></li></a>
                    <a href="/help/returns"><li><p>Returns & Exchanges</p></li></a>
                    <a href="/help/contact"><li><p>Contact Us</p></li></a>
                    <a href="/help/privacy"><li><p>Privacy Policy</p></li></a>
                </ul>
                <div id="col-1" class="help-content">
                    <h1 class="help-title-2">Contact Us</h1>
                    <p>For business inquiries or general needs, contact us at <a href="mailto:invrt@invrtofficial.com">invrt@invrtofficial.com</a>.</p>
                    <br>
                    <p>For any questions about purchases, refunds, or exchanges, contact us at <a href="mailto:support@invrtofficial.com">support@invrtofficial.com</a>.</p>
                    <br>
                    <p>You can also reach out to us through our socials below.</p>
                    <a target="_blank" href="https://www.instagram.com/invrtofficial/"><img src="{{ url_for('static', filename='/all_imgs/instagram.png') }}" alt="instagram"></a>
                    <a target="_blank" href="https://twitter.com/InvrtOfficial"><img src="{{ url_for('static', filename='/all_imgs/twitter.png') }}" alt="twitter"></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <div class="footer-container">
            <div class="footer-links flex">
                    <p><a href="/help/about">About Us</a></p>
                    <p class="footer-dividers">|</p>
                    <p><a href="/help/faq">FAQ</a></p>
                    <p class="footer-dividers">|</p>
                    <p><a href="/help/returns">Returns & Exchanges</a></p>
                    <p class="footer-dividers">|</p>
                    <p><a href="/help/contact">Contact Us</a></p>
                    <p class="footer-dividers">|</p>
                    <p><a href="/help/privacy">Privacy Policy</a></p>
            </div>
            <div class="footer-medias text-center">
                <a target="_blank" target="_blank" href="https://www.instagram.com/invrtofficial/"><img src="{{ url_for('static', filename='/all_imgs/instagram.png') }}" alt="instagram"></a>
                <a target="_blank" target="_blank" href="https://twitter.com/InvrtOfficial"><img src="{{ url_for('static', filename='/all_imgs/twitter.png') }}" alt="twitter"></a>
            </div>
        </div>
    </footer>
    
    <script src="{{ url_for('static', filename='/js/script.js') }}"></script>
</body>
</html>