<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='/all_imgs/icon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <title>INVRT - About</title>
</head>
<body>
    <!-- Nav Bar -->
    <div class="header flex justify-between align-center text-aliceblue">
        <div class="nav flex justify-between align-center">
            <a class="vertical-bottom" href="/home"><img src="{{ url_for('static', filename='/all_imgs/Invrt_Logo.jpg') }}" alt="INVRT Logo"></a>
            <div class="right-header flex justify-between align-center">
                <a href="/">Home</a>
                <a href="/drops/1">Previous Drops</a>
                <a href="/drops/2">Current Drop</a>
                <a href="/upcoming-drops">Upcoming Drops</a>
                <a id="highlight" href="/about">About</a>
                <a href="/cart"><img src="{{ url_for('static', filename='/all_imgs/cart2.png') }}" alt="Cart"></a>
            </div>
        </div>
    </div>

    <!-- Content -->
    <div class="content text-center">
        <p> INVRT stands for Invert which means to make opposite position, order, or arrangement. This name signifies the brands encouragement to do the opposite of mainstream media and to switch around normal societal standards. Invrt is a Bay Area produced clothing brand which focuses on presenting graphic design created elements through its style and design compositions.</p>
        <br>
        <p>Each design holds hours of work that includes fine tuning and editing each graphic to personal perfection. I've spent years studying graphic design and through extensive practice, finally gained the courage to promote my art to the public, in the form of clothing. All designs are made through the manipulation of real images and are not hand drawn, creating a realistic sense to each shirt. I hope to continue to grow this brand into a recognizable name in the clothing industry and thank everyone for their support by helping me turn a childhood dream into reality.</p>
        <p>-Alex Brodeur</p>
        <a href="https://www.instagram.com/invrtofficial/"><img src="{{ url_for('static', filename='/all_imgs/instagram.png') }}" alt="instagram"></a>
        <a href="https://twitter.com/AkuaDrowned"><img src="{{ url_for('static', filename='/all_imgs/twitter.png') }}" alt="twitter"></a>
    </div>
</body>
</html>