<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='/all_imgs/icon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <title>INVRT - Cart</title>
</head>
<body>
    <!-- Nav Bar -->
    <div class="header flex justify-between align-center text-aliceblue">
        <a class="vertical-bottom" href="/"><img src="{{ url_for('static', filename='/all_imgs/Invrt_Logo.jpg') }}" alt="INVRT Logo"></a>
        <div class="right-header flex justify-between align-center">
                <a href="/">Home</a>
            <a href="/drops/1">Drop 1</a>
            <a href="/drops/2">Drop 2</a>
            <a href="/upcoming-drops">Upcoming Drops</a>
            <a href="/about">About</a>
            <div class="smaller flex">
                <a href="/cart"><img src="{{ url_for('static', filename='/all_imgs/cart_purple.png') }}" alt="Cart"></a>
            </div>
        </div>
    </div>

    <!-- CART -->
    <div class="container">
        <h1 class="your-cart">Your Cart:</h1>
        <h1 class="cart_total">Current Cart Total: ${{cart_total}}{% if not cart %}0{% endif %}</h1>
        {% for products in cart %}
        <div class="in-cart flex align-center justify-between text-center">
            <div class="left-cart flex align-center text-center">
                <img src="../static/{{products.picture}}" alt="img">
                <p>{{products.name}}</p>
                <p>Color: {{products.color}}</p>
                <p>Size: {{products.size}}</p>
                <form action="/update_cart" method="post">
                <p>Quantity:</p>
                <input type="number" name="quantity" value="{{products.quantity}}" min="0" max="{{products.size_stock}}">
            </div>
            <div class="right-cart flex align-center text-center">
                <input type="submit" value="Update">
                </form>
                <a href="/remove_from_cart">Remove</a>
            </div>
        </div>
        {% endfor %}
        {% if not cart %}
        <p>Your cart is currently empty.</p>
        {% endif %}
        {% if cart %}
        <div class="flex checkout-div">
            <a class="purple-button" href="/clear_cart">Clear Cart</a>
            <form action="/create-checkout-session" method="POST">
                <button class="purple-button checkout-button" type="submit">Checkout</button>
            </form>
        </div>
        {% endif %}
    </div>