<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='/all_imgs/icon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <title>INVRT - Cart</title>
</head>
<body>
    <!-- Nav Bar -->
    <div class="header flex justify-between align-center text-white">
        <a class="vertical-bottom" href="/"><img src="{{ url_for('static', filename='/all_imgs/Invrt_Logo.jpg') }}" alt="INVRT Logo"></a>
        <div class="right-header flex justify-between align-center">
                <a href="/">Home</a>
                <a id="{{'highlight' if num == 1 }}" href="/drops/1">Previous Drops</a>
                <a id="{{'highlight' if num == 2 }}" href="/drops/2">Current Drop</a>
            <a href="/upcoming-drops">Upcoming Drops</a>
            <a href="/about">About</a>
            <div class="smaller flex">
                <a href="/cart"><img src="{{ url_for('static', filename='/all_imgs/cart_purple.png') }}" alt="Cart"></a>
            </div>
        </div>
    </div>

    <!-- CART -->
    <div class="container cart-page flex">
        <div style="flex: 1;">
            <h1 class="your-cart">Your Cart:</h1>
            <h1 class="cart_total">Current Cart Total: ${{cart_total}}</h1>
            {% for products in cart %}
            <div class="in-cart align-center justify-between text-center">
                <div class="left-cart flex align-center text-center">
                    <img src="../static/{{products.picture}}" alt="img">
                    <div class="cart-details align-center">
                        <p class="small-price">${{products.price}}</p>
                        <p>{{products.name}}</p>
                        <p>Color: {{products.color}}</p>
                        <p>Size: {{products.size}}</p>
                        <form action="/update_cart/{{products.cart_id}}" method="post">
                        <div class="flex">
                            <p>Quantity:</p>
                            <input type="number" name="quantity" value="{{products.quantity}}" min="0" max="{{products.size_stock}}">
                        </div>
                        <div class="update-remove flex align-center text-center">
                            <input type="submit" value="Update">
                            </form>
                            <a href="/remove_from_cart/{{products.cart_id}}">Remove</a>
                        </div>
                    </div>
                </div>
                <div class="flex big-price" style="margin-bottom: auto;">
                    <p>${{products.price}}</p>
                </div>
            </div>
            {% endfor %}
            {% if not cart %}
            <h1 class="text-center">Your cart is currently empty.</h1>
            {% endif %}
        </div>
        {% if cart %}
        <div class="checkout-div">
            <a href="/clear_cart"><button class="purple-button">Clear Cart</button></a>
            <form action="/create-checkout-session" method="POST">
                <button class="purple-button checkout-button" type="submit">Checkout</button>
            </form>
        </div>
        {% endif %}
    </div>