<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='/all_imgs/icon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <title>INVRT - Cart</title>
</head>
<body>
    <!-- Nav Bar -->
    <div class="header flex justify-between align-center text-white">
        <a class="vertical-bottom" href="/"><img src="{{ url_for('static', filename='/all_imgs/Invrt_Logo.jpg') }}" alt="INVRT Logo"></a>
        <div class="right-header flex justify-between align-center">
                <a href="/">Home</a>
                <a href="/drops/2">Current Drop</a>
                <a href="/drops/1">Previous Drops</a>
            <a href="/upcoming-drops">Upcoming Drops</a>
            <div class="smaller flex align-center">
                <a class="flex align-center" href="/cart"><img src="{{ url_for('static', filename='/all_imgs/cart_purple.png') }}" alt="Cart"></a>
            </div>
        </div>
        <div class="menu smaller flex align-center">
            <img onclick="openmenu()" src="{{ url_for('static', filename='/all_imgs/menu_icon.png') }}" alt="Menu">
        </div>
    </div>

    <!-- Side Menu -->
    <div id="side-menu">
        <div class="top-menu-option flex align-center">
            <img onclick="closemenu()" src="{{ url_for('static', filename='/all_imgs/x_button.png') }}" alt="Close">
        </div>
        <a href="/">
            <div class="menu-option flex align-center">
                Home
            </div>
        </a>
        <a href="/drops/2">
            <div class="menu-option flex align-center">
                Current Drop
            </div>
        </a>
        <a href="/drops/1">
            <div class="menu-option flex align-center">
                Previous Drops
            </div>
        </a>
        <a href="/upcoming-drops">
            <div class="menu-option flex align-center">
                Upcoming Drops
            </div>
        </a>
        <a class="flex align-center" href="/cart">
            <div class="menu-option flex align-center smaller">
                <img src="{{ url_for('static', filename='/all_imgs/cart_purple.png') }}" alt="Cart">
            </div>
        </a>
    </div>

    <!-- CART -->
    <div class="container cart-page flex">
        <div style="flex: 1;">
            <h1 class="your-cart">Your Cart:</h1>
            <h1 class="cart_total">Total: ${{cart_total}}</h1>
            {% with messages = get_flashed_messages(category_filter=['cart_error']) %}
                    {% for message in messages %}
                        <h1 class="text-center">{{message}}</h1>
                    {% endfor %}
                {% endwith %}
            {% for products in cart %}
            <div class="in-cart align-center justify-between text-center">
                <div class="left-cart flex align-center text-center">
                    <img src="../static/{{products.picture}}" alt="img">
                    <div class="cart-details align-center">
                        <p class="small-price">${{products.price}}</p>
                        <p>{{products.name}}</p>
                        <p>{{products.color}}</p>
                        <p>{{products.size}}</p>
                        <form action="/update_cart/{{products.cart_id}}" method="post">
                        <div class="flex">
                            <p>Quantity:</p>
                            <input type="number" name="quantity" value="{{products.quantity}}" min="0" max="{{products.size_stock}}">
                        </div>
                        <div class="update-remove flex align-center text-center">
                            <input type="submit" value="Update">
                            </form>
                            <a href="/remove_from_cart/{{products.cart_id}}">Remove</a>
                        </div>
                    </div>
                </div>
                <div class="flex big-price" style="margin-bottom: auto;">
                    <p>${{products.price}}</p>
                </div>
            </div>
            {% endfor %}
            {% if not cart %}
            <h1 class="text-center">Your cart is currently empty.</h1>
            {% endif %}
        </div>
        {% if cart %}
        <div class="checkout-div">
            <a href="/clear_cart"><button class="purple-button">Clear Cart</button></a>
            <form action="/create-checkout-session" method="POST">
                <button class="purple-button checkout-button" type="submit">Checkout</button>
            </form>
        </div>
        {% endif %}

        <footer>
            <div class="footer-container">
                <div class="footer-links flex">
                    <p><a href="/help/about">About Us</a></p>
                    <p class="footer-dividers">|</p>
                    <p><a href="/help/faq">FAQ</a></p>
                    <p class="footer-dividers">|</p>
                    <p><a href="/help/returns">Returns & Exchanges</a></p>
                    <p class="footer-dividers">|</p>
                    <p><a href="/help/contact">Contact Us</a></p>
                    <p class="footer-dividers">|</p>
                    <p><a href="/help/privacy">Privacy Policy</a></p>
                </div>
                <div class="footer-medias text-center">
                    <a target="_blank" href="https://www.instagram.com/invrtofficial/"><img src="{{ url_for('static', filename='/all_imgs/instagram.png') }}" alt="instagram"></a>
                    <a target="_blank" href="https://twitter.com/InvrtOfficial"><img src="{{ url_for('static', filename='/all_imgs/twitter.png') }}" alt="twitter"></a>
                </div>
            </div>
        </footer>
    </div>

    <script src="{{ url_for('static', filename='/js/script.js') }}"></script>
</body>
</html>