<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='/all_imgs/icon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <title>INVRT - Drop {{num}}</title>
</head>
<body>
    <!-- Nav Bar -->
    <div class="header flex justify-between align-center text-aliceblue">
        <div class="nav flex justify-between">
            <a class="vertical-bottom" href="/"><img src="{{ url_for('static', filename='/all_imgs/Invrt_Logo.jpg') }}" alt="INVRT Logo"></a>
            <div class="right-header flex justify-between align-center">
                <a href="/">Home</a>
                <a id="{{'highlight' if num == 1 }}" href="/drops/1">Previous Drops</a>
                <a id="{{'highlight' if num == 2 }}" href="/drops/2">Current Drop</a>
                <a href="/upcoming-drops">Upcoming Drops</a>
                <a href="/about">About</a>
                <div class="smaller">
                    <a href="/cart"><img src="{{ url_for('static', filename='/all_imgs/cart2.png') }}" alt="Cart"></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Clothing Display -->
    <div class="container justify-around flex wrap text-center">
        {% set count = namespace(value=0) %}
        {% set skipColor = namespace(value=0) %}
        {% for shirt in products %}
            <div class="clothing-display text-center">
                <a href="/products/{{shirt.name}}"><img id="product_{{count.value}}" onmouseover="changeView(this, '../static/{{pictures[skipColor.value][1].picture_link}}')" onmouseout="changeView(this, '../static/{{pictures[skipColor.value][0].picture_link}}')" src="../static/{{pictures[skipColor.value][0].picture_link}}" alt="{{shirt.name}}"></a>
                <a href="/products/{{shirt.name}}"><h1>{{shirt.name}}</h1></a>
                <h2>${{shirt.price}}</h2>
                {% set changeColor = namespace(value=skipColor.value) %}
                {% for color in colors[count.value] %}
                    <input style="background-color: {{color.hex}};" type="radio" name="color{{count.value}}" value="{{color.color}}" onclick="swapColor('product_{{count.value}}', '../static/{{pictures[changeColor.value][0].picture_link}}', '../static/{{pictures[changeColor.value][1].picture_link}}')" {% if changeColor.value == skipColor.value %} checked {% endif %}>
                    {% set changeColor.value = changeColor.value + 1 %}
                {% endfor %}
            </div>
        {% set count.value = count.value + 1 %}
        {% set skipColor.value = skipColor.value + colors[count.value]|length %}
        {% endfor %}
    </div>
    

    <script src="{{ url_for('static', filename='/js/script.js') }}"></script>
</body>
</html>