<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='/all_imgs/icon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <title>{{products[0].name}}</title>
</head>
<body>
    <!-- Nav Bar -->
    <div class="header flex justify-between align-center text-aliceblue">
        <div class="nav flex justify-between">
            <a class="vertical-bottom" href="/"><img src="{{ url_for('static', filename='/all_imgs/Invrt_Logo.jpg') }}" alt="INVRT Logo"></a>
            <div class="right-header flex justify-between align-center">
                <a href="/">Home</a>
                <a id="{{'highlight' if num == 1 }}" href="/drops/1">Previous Drops</a>
                <a id="{{'highlight' if num == 2 }}" href="/drops/2">Current Drop</a>
                <a href="/upcoming-drops">Upcoming Drops</a>
                <a href="/about">About</a>
                <div class="smaller">
                    <a href="/cart"><img src="{{ url_for('static', filename='/all_imgs/cart2.png') }}" alt="Cart"></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Product -->
    <div class="container flex">
        <div class="photos">
            <div class="large-photo flex align-center justify-center">
                <img id="main_image" src="../static/{{pictures[0][0].picture_link}}" alt="">
            </div>
            <div class="small-photos flex justify-around">
                {% for picture in pictures[0] %}
                    <img onclick="changeMain(this)" id="{{picture.name}}" src="../static/{{picture.picture_link}}" alt="">
                {% endfor %}
            </div>
        </div>
        <div class="options flex justify-between wrap">
            <div>
                <h1>{{products[0].name}}</h1>
                <p>{{products[0].description}}</p>
            </div>
            <div>
                <h2>${{products[0].price}}</h2>
                <form action="/add-cart" method="post">
                    <input type="hidden" name="name" value="{{products[0].name}}">
                    <label for="color">Color:</label>
                    <br>
                    {% set count = namespace(value=0) %}
                    {% for color in colors %}
                    <label for="color">{{color.color}}</label>
                    <input style="border: 2px solid {{color.hex}};" type="radio" name="color" value="{{color.color}}" onclick="changeColor('../static/{{pictures[count.value][0].picture_link}}', '../static/{{pictures[count.value][1].picture_link}}', '../static/{{pictures[count.value][2].picture_link}}')" {% if count.value == 0 %} checked {% endif %}>
                    {% set count.value = count.value + 1 %}
                    {% endfor %}
                    <br>
                    <label for="size">Size:</label>
                    <br>
                    <input type="radio" name="size" value="XS">
                    <label for="size">XS</label>
                    <input type="radio" name="size" value="S">
                    <label for="size">S</label>
                    <input type="radio" name="size" value="M">
                    <label for="size">M</label>
                    <input type="radio" name="size" value="L">
                    <label for="size">L</label>
                    <input type="radio" name="size" value="XL">
                    <label for="size">XL</label>
                    <br>
                    <label for="quantity">Quantity:</label>
                    <select name="quantity">
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                    <br>
                    <input type="hidden" name="color" value="">
                    <input type="hidden" name="size" value="">
                    {% if products[0].soldout == 1 %}
                    <p onclick="alert('Item is currently sold out')" class="sold-button text-center">SOLDOUT</p>
                    {% endif %}
                    {% if products[0].soldout == 0 %}
                    <input type="submit" value="Add To Cart">
                    {% endif %}
                </form>
                {% with messages = get_flashed_messages(category_filter=['product']) %}
                    {% for message in messages %}
                        {{message}}
                    {% endfor %}
                {% endwith %}
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='/js/script.js') }}"></script>
</body>
</html>