<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='/all_imgs/icon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <title>{{products[0].name}}</title>
</head>
<body>
    <!-- Nav Bar -->
    <div class="header flex justify-between align-center text-aliceblue">
        <div class="nav flex justify-between">
            <img src="{{ url_for('static', filename='/all_imgs/Invrt_Logo.jpg') }}" alt="INVRT Logo">
            <div class="right-header flex justify-between align-center">
                <a href="/">Home</a>
                <div id="{{'highlight' if products[0].drop_num == 1 }}">
                    <a href="/drops/1">Drop 1</a>
                </div>
                <div id="{{'highlight' if products[0].drop_num == 2 }}">
                    <a href="/drops/2">Drop 2</a>
                </div>
                <a href="/upcoming-drops">Upcoming Drops</a>
                <a href="/about">About</a>
                <div class="smaller">
                    <a href="/account"><img src="{{ url_for('static', filename='/all_imgs/user_icon.png') }}" alt=""></a>
                    <a href="/cart"><img src="{{ url_for('static', filename='/all_imgs/cart2.png') }}" alt="Cart"></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Product -->
    <div class="container flex">
        <div class="photos">
            <div class="large-photo flex align-center justify-center">
                <img id="main_image" src="../{{products[0].back_img}}" alt="">
            </div>
            <div class="small-photos flex justify-around">
                <img onclick="changeMain(this)" id="front-img" src="../{{products[0].front_img}}" alt="">
                <img onclick="changeMain(this)" id="back-img" src="../{{products[0].back_img}}" alt="">
                <img onclick="changeMain(this)" id="patch-img" src="../{{products[0].patch}}" alt="">
                <img onclick="changeMain(this)" id="design-img" src="../{{products[0].design}}" alt="">
            </div>
        </div>
        <div class="options flex justify-between wrap">
            <div>
                <h1>{{products[0].name}}</h1>
                <p>{{products[0].description}}</p>
            </div>
            <div>
                <h2>${{products[0].price}}</h2>
                <form action="/add-cart" method="post">
                    <input type="hidden" name="name" value="{{products[0].name}}">
                    <label for="color">Color:</label>
                    <br>
                    {% for product in products %}
                    <input type="radio" name="color" value="{{product.id}}" onclick="changeColor('../{{product.front_img}}', '../{{product.back_img}}', '../{{product.patch}}')">
                    <label for="color">{{product.color}}</label>
                    {% endfor %}
                    <br>
                    <label for="size">Size:</label>
                    <br>
                    <input type="radio" name="size" value="XS">
                    <label for="size">XS</label>
                    <input type="radio" name="size" value="S">
                    <label for="size">S</label>
                    <input type="radio" name="size" value="M">
                    <label for="size">M</label>
                    <input type="radio" name="size" value="L">
                    <label for="size">L</label>
                    <input type="radio" name="size" value="XL">
                    <label for="size">XL</label>
                    <br>
                    <label for="quantity">Quantity:</label>
                    <select name="quantity">
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                    <br>
                    <input type="hidden" name="color" value="">
                    <input type="hidden" name="size" value="">
                    {% if products[0].soldout == 1 %}
                    <p onclick="alert('Item is currently sold out')" class="sold-button text-center">SOLDOUT</p>
                    {% endif %}
                    {% if products[0].soldout == 0 %}
                    <input type="submit" value="Add To Cart">
                    {% endif %}
                </form>
                {% with messages = get_flashed_messages(category_filter=['product']) %}
                    {% for message in messages %}
                        {{message}}
                    {% endfor %}
                {% endwith %}
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='/js/script.js') }}"></script>
</body>
</html>