<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='/all_imgs/icon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <title>{{products[0].name}}</title>
</head>
<body>
    <!-- Nav Bar -->
    <div class="header flex justify-between align-center text-aliceblue">
        <a class="vertical-bottom" href="/"><img src="{{ url_for('static', filename='/all_imgs/Invrt_Logo.jpg') }}" alt="INVRT Logo"></a>
        <div class="right-header flex justify-between align-center">
            <a href="/">Home</a>
            <a id="{{'highlight' if num == 1 }}" href="/drops/1">Previous Drops</a>
            <a id="{{'highlight' if num == 2 }}" href="/drops/2">Current Drop</a>
            <a href="/upcoming-drops">Upcoming Drops</a>
            <a href="/about">About</a>
            <div class="smaller">
                <a href="/cart"><img src="{{ url_for('static', filename='/all_imgs/cart2.png') }}" alt="Cart"></a>
            </div>
        </div>
    </div>

    <!-- Product -->
    <div class="container flex">
        <div class="photos">
            <div class="large-photo flex align-center justify-center">
                <img id="main_image" src="../static/{{pictures[0][0].picture_link}}" alt="">
            </div>
            <div class="small-photos flex justify-around">
                {% for picture in pictures[0] %}
                    <img onclick="changeMain(this)" id="{{picture.name}}" src="../static/{{picture.picture_link}}" alt="">
                {% endfor %}
            </div>
        </div>
        <div class="options flex justify-between wrap">
            <div>
                <h1>{{products[0].name}}</h1>
                <p>{{products[0].description}}</p>
            </div>
            <div class="color-size-etc">
                <h2>${{products[0].price}}</h2>
                <form action="/add-cart" method="post">
                    <input type="hidden" name="name" value="{{products[0].name}}">
                    <div class="flex align-center">
                        {% set count = namespace(value=0) %}
                        {% for color in colors %}
                        <input style="background-color: {{color.hex}};" type="radio" name="color" value="{{color.color}}" onclick="changeColor('{{colors[count.value].xs_stock}}', '{{colors[count.value].s_stock}}', '{{colors[count.value].m_stock}}', '{{colors[count.value].l_stock}}', '{{colors[count.value].xl_stock}}', '../static/{{pictures[count.value][0].picture_link}}', '../static/{{pictures[count.value][1].picture_link}}', '../static/{{pictures[count.value][2].picture_link}}')" {% if count.value == 0 %} checked {% endif %}>
                        <label for="color">{{color.color}}</label>
                        {% set count.value = count.value + 1 %}
                        {% endfor %}
                    </div>
                    <div class="flex align-center sizes">
                        <input id="xs" type="radio" name="size" value="XS" onclick="changeSize('{{colors[0].xs_stock}}')">
                        <label for="size">XS</label>
                        <input id="s" type="radio" name="size" value="S" onclick="changeSize('{{colors[0].s_stock}}')">
                        <label for="size">S</label>
                        <input id="m" type="radio" name="size" value="M" onclick="changeSize('{{colors[0].m_stock}}')" checked>
                        <label for="size">M</label>
                        <input id="l" type="radio" name="size" value="L" onclick="changeSize('{{colors[0].l_stock}}')">
                        <label for="size">L</label>
                        <input id="xl" type="radio" name="size" value="XL" onclick="changeSize('{{colors[0].xl_stock}}')">
                        <label for="size">XL</label>
                    </div>
                    <div class="flex align-center quantity">
                        <label for="quantity">Quantity:</label>
                        <input id="quantity" type="number" max="{{colors[0].m_stock}}" {% if colors[0].m_stock > 0 %} min="1" value="1" {% else %} min="0" value="0" {% endif %}>
                    </div>
                    <input type="hidden" name="color" value="">
                    <input type="hidden" name="size" value="">
                    <input id="AddCartButton" type="submit" {% if colors[0].m_stock > 0 %} value="Add To Cart" {% else %} value="Size Sold Out" {% endif %}>
                </form>
                {% with messages = get_flashed_messages(category_filter=['product']) %}
                    {% for message in messages %}
                        {{message}}
                    {% endfor %}
                {% endwith %}
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='/js/script.js') }}"></script>
</body>
</html>