<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='/all_imgs/icon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <title>INVRT - Payment Success</title>
</head>
<body>
    <!-- Nav Bar -->
    <div class="header flex justify-between align-center text-aliceblue">
        <a class="vertical-bottom" href="/"><img src="{{ url_for('static', filename='/all_imgs/Invrt_Logo.jpg') }}" alt="INVRT Logo"></a>
        <div class="right-header flex justify-between align-center">
            <a href="/">Home</a>
            <a href="/drops/1">Drop 1</a>
            <a href="/drops/2">Drop 2</a>
            <a href="/upcoming-drops">Upcoming Drops</a>
            <a href="/about">About</a>
            <div class="smaller">
                <a href="/cart"><img src="{{ url_for('static', filename='/all_imgs/cart2.png') }}" alt="Cart"></a>
            </div>
        </div>
    </div>

    <!-- Error -->
    <div class="content text-center">
        <h1>Thanks for your order!</h1>
        <p>We appreciate your business!</p>
        <p>
        If you have any questions, please email
        <a style="color: black; text-decoration: underline" href="mailto:support@invrtofficial.com">support@invrtofficial.com</a>.
        </p>
        <p>Click one of the tabs at the top or click <a style="color: black; text-decoration: underline" href="/">here</a> to head back to the home page.</p>
    </div>
</body>
</html>