*{
    margin: 0;
    padding: 0;
    font-family: 'Anton', sans-serif;
}



/* UNIVERSAL */
.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.justify-around{
    justify-content: space-around;
}

.align-center{
    align-items: center;
}

.text-center{
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
}

.text-white{
    color: white;
}

.container{
    margin: 200px auto 0;
    max-width: 1000px;
}

#col-1{
    flex: 1;
}

.vertical-bottom img{
    vertical-align: bottom;
}

input[type="radio"] {
	appearance: none;
	width: 25px;
	height: 25px;
	border: 2px solid white;
	border-radius: 50%;
	background-clip: content-box;
    background-color: rgb(57, 52, 57);
}

input[type="radio"]:checked {
    transition: 300ms;
	border: 2px solid black;
    padding: 3px;
}


/* NAV BAR */
.header{
    padding: 25px 35px;
    background-color: rgb(103, 90, 172);
    box-shadow: 0 0 25px black;
    font-size:1.25em;
    position: fixed;
    top: 0; left: 0; right: 0;
    width: auto !important;
    opacity: 90%;
    z-index: 10;
}

.header img{
    height: 32px;
}

.right-header a{
    transition: 200ms;
    margin: 0 10px;
}

.right-header a:hover {
    transition: 200ms;
    color: rgb(56, 48, 99);
}

.right-header img{
    height: 1.25em;
}

#highlight{
    color: rgb(56, 48, 99);
}



/* Index */
.cover img{
    object-fit: cover;
    width: 100%;
    height: 150vh;
}



/* About/Upcoming */
.content{
    margin: 200px auto;
    width: 850px;
    font-size: 1.55em;
}

.content img{
    height: 40px;
    margin: 5px 10px;
}



/* Drops */
.clothing-display img{
    max-height: 500px;
    min-height: 250px;
    height: 50vw;
}

.clothing-display a{
    color: black;
}

.clothing-display{
    margin-bottom: 50px;
}

.clothing-display:hover{
    transform: scale(1.1);
    transition: 500ms;
}



/* Products */
.large-photo{
    height: 600px;
    width: 600px;
    margin-bottom: 15px;
    margin-right: 10px;
}

.large-photo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.small-photos{
    padding: 0 50px;
    width: 500px;
}

.small-photos img{
    border: solid rgb(179, 179, 179);
    border-width: 2px;
    height: 100px;
    cursor: pointer;
}

.options h1{
    font-size: 3.1em;
}

.options form{
    font-size: 1.55em;
}

.purple-button{
    font-size: 30px;
    color: white;
    background-color: rgb(103, 90, 172);
    padding: 10px 67px;
    text-align: center;
    box-shadow: 3px 3px black;
    border: black solid 2px;
    cursor: pointer;
}

.purple-button:hover{
    background-color: rgb(150, 137, 216);
}

.purple-button:active{
    position: relative;
    top: 3px; left: 3px;
    box-shadow: 0 0 0;
}

.checkout-button{
    margin-right: none !important;
    margin-top: 20px;
    width: 100%;
}

#AddCartButton{
    width: 100%;
}

.options select{
    width: 175px;
}

.options h2{
    font-size: 1.6em;
}

.message{
    font-size: 10px;
    color: crimson;
}

.quantity{
    width: 100%;
}

.quantity input{
    width: 100%;
    padding: 0 5px;
    margin-left: 5px;
}

.color-size-etc{
    min-width: 60%;
}

.color-size-etc input[type=radio]{
    margin-right: 1px;
}

.color-size-etc label{
    margin-right: 10px;
}


/* Cart */
.cart-page{
    margin: 150px auto;
}

.in-cart{
    margin-bottom: 5px;
    border-bottom: solid rgb(179, 179, 179);
    border-width: 2px;
    padding: 5px 15px;
    font-size: 18px;
    display: flex;
    flex: 1;
}

.left-cart form{
    align-items: center;
}

.left-cart form input{
    border: none;
    border-bottom: 2px solid rgb(179, 179, 179);
    outline: none !important;
    font-size: 18px;
}

.in-cart p{
    margin-right: 10px;
}

.in-cart img{
    margin-right: 20px;
    height: 125px;
    width: auto;
}

.your-cart{
    font-size: 50px;
}

.update-remove input{
    cursor: pointer;
    border-width: 0;
    background-color: white;
}

.update-remove a, .update-remove input{
    font-size: 18px;
    color: black;
    text-decoration: underline;
    margin-right: 20px;
    border: none !important;
}

.cart_total{
    margin-bottom: 10px;
}

.checkout-div{
    margin-top: auto;
    margin-left: 15px;
}

.cart-details{
    text-align: left;
    display: block;
}

.small-price{
    display: none;
}

@media (max-width: 1100px){
    .cart-page{
        margin-left: 10vw;
        margin-right: 10vw;
        display: block !important;
    }
    .checkout-div{
        margin: 0;
    }
    .checkout-button{
        margin-top: 10px;
    }
    .checkout-div button{
        width: 100%;
    }
}


@media (max-width: 550px){
    .in-cart{
        font-size: 15px;
    }
    .update-remove a, .update-remove input{
        font-size: 15px;
    }
    .your-cart{
        font-size: 40px;
    }
    .cart_total{
        font-size: 20px;
    }
    .small-price{
        display: block;
    }
    .big-price{
        display: none;
    }
}

/* RADIO BUTTONS */
/* input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: 3px; left: 3px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: 3px;
    left: 3px;
    position: relative;
    background-color: #ffa500;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
} */