*{
    margin: 0;
    padding: 0;
    font-family: 'Anton', sans-serif;
}



/* UNIVERSAL */
body{
    min-height: 100vh;
    position: relative;
}

.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.justify-around{
    justify-content: space-around;
}

.align-center{
    align-items: center;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

a{
    text-decoration: none;
    color: white;
}

.text-white{
    color: white;
}

.container{
    margin: 0 auto ;
    max-width: 1000px;
    padding: 150px 5vw 200px;
}

#col-1{
    flex: 1;
}

.vertical-bottom img{
    vertical-align: bottom;
}

input[type="radio"] {
	appearance: none;
	width: 25px;
	height: 25px;
	border: 2px solid white;
	border-radius: 50%;
	background-clip: content-box;
    background-color: rgb(57, 52, 57);
}

input[type="radio"]:checked {
    transition: 300ms;
	border: 2px solid black;
    padding: 3px;
}

footer{
    border-top: 2px solid #e3e3e3;
    background-color: #F5F5F5;
    display: flex;
    padding: 0 30px;
    color: #636363;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 130px;
    align-items: center;
}

footer a{
    color: #636363;
}

footer a:hover{
    transition: 350ms;
    color: #959595;
}

.footer-container{
    width: 80vw;
    max-width: 600px;
    margin: 0 auto;
}

footer img{
    height: 1.5em;
}

.footer-medias img{
    margin: 0 15px;
}

.footer-links{
    justify-content: space-around;
    margin: 0 auto 20px;
}


/* NAV BAR */
.header{
    padding: 25px 35px;
    background-color: rgb(103, 90, 172);
    box-shadow: 0 0 25px black;
    font-size:1.25em;
    position: fixed;
    top: 0; left: 0; right: 0;
    width: auto !important;
    opacity: 90%;
    z-index: 10;
    height: 32px;
}

.header img{
    height: 32px;
}

.right-header a{
    transition: 200ms;
    margin: 0 10px;
}

.right-header a:hover {
    transition: 200ms;
    color: rgb(56, 48, 99);
}

.smaller img{
    height: 1.25em;
}

#highlight{
    color: rgb(56, 48, 99) !important;
}

.menu{
    display: none;
}

.menu img{
    cursor: pointer;
}

#side-menu{
    transition: 350ms;
    background-color: white;
    border-left: 1.5px solid rgb(215, 215, 215);
    font-size:1.25em;
    position: fixed;
    top: 0; bottom: 0; right: -275px;
    z-index: 11;
    width: 200px;
}

.top-menu-option{
    width: 100%;
    flex-direction: row-reverse;
    padding: 25px 0;
}

.top-menu-option img{
    height: 30px;
    padding: 0 10px;
    cursor: pointer;
}

.menu-option{
    width: 100%;
    text-align: center;
    border-top: 1.5px solid rgb(215, 215, 215);
    padding: 10px 0 10px 10px;
}

.menu-option:hover{
    transition: 350ms;
    background-color: rgb(245, 245, 245);
}

#side-menu a{
    color: black;
}



/* Index */
.cover{
    height: 150vh;
}
.cover img{
    object-fit: cover;
    width: 100%;
    height: 150vh;
}



/* About/Upcoming */
.content{
    margin: 0 auto;
    padding: 200px 10% 0px;
    font-size: 1.55em;
}

.content img{
    height: 40px;
    margin: 5px 10px;
}



/* Drops */

.clothing-display img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.clothing-display a{
    color: black;
}

.clothing-display{
    max-width: 500px;
    min-width: 200px;
    width: 50%;
    margin-bottom: 50px;
}

.clothing-display-container{
    width: 100%;
    max-height: 500px;
    min-height: 250px;
    height: 50vw;
}

.clothing-display:hover{
    transform: scale(1.1);
    transition: 500ms;
}



/* Products */
.photos{
    display: flex;
    flex-direction: row-reverse;
}

.large-photo{
    height: 500px;
    width: 500px;
    max-width: 500px;
    max-height: 500px;
    margin-bottom: 15px;
    margin-right: 10px;
}

.large-photo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.small-photos{
    width: 75px;
    justify-content: space-evenly;
    flex-direction: column;
}

.small-photos img{
    border: solid rgb(179, 179, 179);
    border-width: 2px;
    height: auto;
    cursor: pointer;
    margin: 5px;
    width: 75px;
}

.options h1{
    font-size: 3.1em;
}

.options form{
    font-size: 1.55em;
}

.purple-button{
    font-size: 1.3em;
    color: white;
    background-color: rgb(103, 90, 172);
    padding: 10px 67px;
    text-align: center;
    box-shadow: 3px 3px black;
    border: black solid 2px;
    cursor: pointer;
}

.purple-button:hover{
    background-color: rgb(150, 137, 216);
}

.purple-button:active{
    position: relative;
    top: 3px; left: 3px;
    box-shadow: 0 0 0;
}

.checkout-button{
    margin-right: none !important;
    margin-top: 20px;
    width: 100%;
}

#AddCartButton{
    width: 100%;
}

.options select{
    width: 175px;
}

.options h2{
    font-size: 1.6em;
}

.message{
    font-size: 10px;
    color: crimson;
}

.quantity{
    width: 100%;
}

.quantity select{
    width: 100%;
    padding: 0 5px;
    margin-left: 5px;
}

.color-size-etc{
    min-width: 60%;
}

.color-size-etc input[type=radio]{
    margin-right: 1px;
}

.color-size-etc label{
    margin-right: 10px;
}

.colors{
    flex-wrap: wrap;
}

.sizes{
    flex-wrap: wrap;
}

.size-chart{
    margin-top: 100px;
    border-bottom: 1.5px solid rgb(215, 215, 215);
    cursor: pointer;
    font-size: 1.2em;
    flex-direction: column;
}

.size-chart img{
    margin-top: 10px;
    width: 95%;
    display: none;
}

/* Cart */

.in-cart{
    margin-bottom: 5px;
    border-bottom: solid rgb(179, 179, 179);
    border-width: 2px;
    padding: 5px 15px;
    font-size: 18px;
    display: flex;
    flex: 1;
}

.left-cart form{
    align-items: center;
}

.left-cart form input{
    border: none;
    border-bottom: 2px solid rgb(179, 179, 179);
    outline: none !important;
}

.in-cart p{
    margin-right: 10px;
}

.in-cart img{
    margin-right: 20px;
    height: 125px;
    width: auto;
}

.your-cart{
    font-size: 50px;
}

.update-remove input{
    cursor: pointer;
    border-width: 0;
    background-color: white;
}

.update-remove a, .update-remove input{
    font-size: 18px;
    color: black;
    text-decoration: underline;
    margin-right: 20px;
    border: none !important;
}

.cart_total{
    margin-bottom: 10px;
}

.checkout-div{
    margin-top: auto;
    margin-left: 15px;
}

.cart-details{
    text-align: left;
    display: block;
}

.small-price{
    display: none;
}

/* Help */

.help-title{
    margin-left: 23%;
    padding: 0 2%;
}

.help-title-2{
    display: none;
    margin-top: 10px;
}

.help li{
    list-style: none;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid black;
    color: black;
}

.help li:hover{
    transition: 350ms;
    background-color: rgb(245, 245, 245);
}

.help ul{
    width: 23%;
    border-top: 1px solid black;
}

.help-content{
    padding: 0 5%;
    font-size: 1em;
    box-sizing: border-box;
}

.help-content img{
    height: 1.5em;
}

.help-content a{
    color: black;
    text-decoration: underline;
}



@media (max-width: 1100px){
    .cart-page{
        padding: 150px 10vw 200px;
        display: block !important;
    }
    .checkout-div{
        margin: 0;
    }
    .checkout-button{
        margin-top: 10px;
    }
    .checkout-div button{
        width: 100%;
    }
    .large-photo{
        height: 50vw;
        width: 50vw;
    }
    .clothing-display{
        font-size: .9em;
    }
}

@media (max-width: 850px){
    .product{
        display: block;
        font-size: .85em;
    }
    .large-photo{
        height: 60vw;
        width: 60vw;
        margin: 0 auto;
    }
    .photos{
        display: block;
        justify-content: center;
        padding: 0 5vw;
    }
    .small-photos{
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
    }
    .small-photos img{
        height: 10vw;
        width: auto;
    }
    .options{
        padding: 0 5vw;
    }
    .name-desc{
        padding-bottom: 20px;
    }
    .color-size-etc{
        width: 100%;
    }
    .right-header{
        display: none;
    }
    .menu{
        display: flex;
    }
    .menu-open{
        transform: translateX(-275px);
    }
    .size-chart{
        width: auto;
        margin: 40px 10vw 0;
    }
}

@media (max-width: 550px){
    .clothing{
        padding-top: 100px;
    }
    .in-cart{
        font-size: 15px;
    }
    .update-remove a, .update-remove input{
        font-size: 15px;
    }
    .your-cart{
        font-size: 40px;
    }
    .cart_total{
        font-size: 20px;
    }
    .small-price{
        display: block;
    }
    .big-price{
        display: none;
    }
    .container{
        padding-bottom: 265px;
    }
    footer{
        height: 185px;
    }
    .footer-links{
        flex-direction: column;
        align-items: center;
        margin-bottom: 8px;
    }
    .footer-dividers{
        display: none;
    }
    .product{
        font-size: .7em;
    }
    .product h1{
        font-size: 2.5em;
    }
    .name-desc{
        padding-bottom: 10px;
    }
    .clothing-display{
        font-size: .8em;
    }
    .help-div{
        display: block !important;
    }
    .help-title{
        display: none;
    }
    .help-title-2{
        display: block;
    }
    .help ul{
        width: 100%;
    }
    .content{
        font-size: 1.25em;
    }
    .purple-button{
        font-size: 1em;
    }
}